[Unit]
Description=Grafana
After=network.target

[Service]
Type=simple
User=grafana
ExecStart=/usr/sbin/grafana-server \
  --homepath=/usr/share/grafana \
  --config=/etc/grafana/grafana.ini
Restart=on-failure

[Install]
WantedBy=multi-user.target
