[Unit]
Description=Node Exporter
After=network.target

[Service]
Type=simple
User=node_exporter
ExecStart=/usr/local/bin/node_exporter \
  --collector.systemd \
  --collector.systemd.unit-include=^(vipsubbot|manicureBot|prometheus|grafana-server|alertmanager|node-exporter|proxy-exporter)\.service$
Restart=on-failure

[Install]
WantedBy=multi-user.target
